.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}

.pagination {
  margin: 50px auto 0 auto;
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: $cor-cinza-3;
  border-radius: 4px;
}

a.router-link-active,
li.breadcrumb-item a {
  color: $cor-cinza;
}

a.router-link-active:hover,
li.breadcrumb-item a:hover {
  color: $cor-azul-1;
}

#breadcrumb {
  margin: 30px 0;

  @include media("print") {
    display: none;
  }
}

.my-gallery a img {
  width: 100% !important;
}
